// bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// googlefonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Merriweather&family=Bree+Serif&display=swap");

// global styles
$title: "Roboto Slab", serif;
$font-primary: "Bree Serif", serif;
$font-secondary: "Merriweather", serif;
$color-primary: #212121;
$color-secondary: #fff;
$color-head: #e8e8e8;
$bg-primary: #f1f3f8;
$bg-secondary: #212121;

body {
  background-color: $bg-secondary;
  color: $color-secondary;
  font-family: $font-primary;
  height: auto;
}

.main-container {
  width: auto;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  color: $color-secondary;
}

// navbar
.navbar {
  font-family: $font-primary;
  // margin-bottom: 15px;
}

// footer
footer {
  font-family: $font-primary;
  text-align: center;
  margin: 40px auto;
}

// home
.home-container {
  width: 100%;
  margin: 0;
}

.head-container {
  padding-top: 80px;
  margin-bottom: 160px;
  color: $color-head;

  .title-name {
    font-family: $title;
    color: $color-head;
    padding: 10px;
    text-align: center;
    font-size: 5rem;
  }

  .subtitle {
    color: $color-head;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
  }
}

.cards-container {
  margin: 60px 0;
  padding-bottom: 50px;
}

// parallax effect
.parallaxContainer {
  margin-bottom: 15px;
}
.parallaxEffect {
  width: 100%;
  height: auto;

  /* Parallax Scrolling */
  background-image: url("../images/workstation2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// content
.post-parallax-content {
  width: auto;
  margin: 60px auto;
}

.container {
  width: 900px;
}

// modal
.modal-btn {
  font-family: $font-secondary;
  margin: 15px auto;
  text-align: center;
}

.modal {
  font-family: $font-secondary;
  color: $color-primary;

  .modal-body {
    padding: 30px;
  }
}

// cards(home)
.card {
  font-family: $font-secondary;
  color: $color-primary;
  margin: 15px auto;
  width: 420px;
  height: 190px;
}

// carousel
.carousel-container {
  padding: 50px;
  text-align: center;
}

.carousel {
  width: 600px;
  margin: 40px auto;

  .jumbotron {
    width: 400px;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: 10px 10px 5px 0px $color-primary;

    h1,
    .lead,
    p {
      font-family: $font-primary;
      color: $color-primary;
    }
  }

  .btn {
    margin: 10px;
  }
}

// footer
.contact {
  width: auto;
  margin: 20px auto 60px;
  text-align: center;
  color: $color-secondary;

  .me h3 {
    font-family: $font-primary;
    margin-bottom: 2px;
    font-size: 1.8rem;
  }

  .cardMe {
    font-family: $font-primary;
    font-size: 1rem;
    text-align: center;
    margin: 18px auto 0;
    width: 221px;
  }

  p {
    margin: 2px auto 0;

    a {
      text-align: left;
    }
  }

  .btn {
    margin: 10px;
  }
}

.twContainer {
  margin: 80px auto 20px;
  display: flex;
  justify-content: center;
}
.twEffect .twText {
  // font-family: $font-primary;
  // font-size: 2.5rem;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.12em solid #363636;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.3em;
  /* Adjust as needed */
  animation: typing 2s steps(15, end), blink-caret 0.3s step-end infinite;
  /* 11 = Number of letters */
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  35% {
    border-color: $color-secondary;
  }
}
